{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid bg-warning text-white p-5 mt-3">
        <h1>The Brew</h1>
        <h3>Your Favourite place for foods and drinks</h3>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
        <li class="nav-item px-3">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav link" id="promo_btn" style="color: lightgray; text-decoration: none; margin-top: 8px;" >Promotions</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" style="color: lightgray;" id="menu-tab" href="{% url 'menu' %}" >Menus</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" style="color: lightgray;" href="{% url 'register' %}" id="register-tab">Register Account </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav link" id="profile-btn" style="color: lightgray; text-decoration: none; margin-top: 8px;">Profile</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav link" id="noti_btn" style="color: lightgray; text-decoration: none; margin-top: 8px;">Notifications</a>
        </li>
        </ul>
    </div>
    </nav>
        <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px; margin-top: 40px;">
            {% for promo in promotions %}
            <div style="flex: 0 0 45%; background-color: lightgray; padding: 20px; border: 1px solid #000; box-sizing: border-box;">
                <h4>{{ promo.name }}</h4>
                <p>{{ promo.description }}</p>
                <p><strong>Start Date:</strong> {{ promo.created_at }}</p>
                <p><strong>Expires on:</strong> {{ promo.expired_date }}</p>
            </div>
            {% endfor %}
        </div>
    <script src="{% static 'csrf.js' %}"></script>
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>